[Unit]
Description=Run backup routine
After=network.target
Requires=network.target

[Service]
Type=simple
Restart=no
User=dragon
Group=dragon
WorkingDirectory=/home/dragon/backup
ExecStart=/home/dragon/backup/backup.sh
CapabilityBoundingSet=CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_DAC_READ_SEARCH
