[Unit]
Description=Run backup routine
After=network.target
Requires=network.target

[Service]
Type=oneshot
Restart=no
WorkingDirectory=/home/dragon/backup
ExecStart=/home/dragon/backup/backup.sh
